@model List<RazorEngineCms.Models.Page>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/dt-1.10.12/datatables.min.css" />
}

<h2>Pages</h2>


@if (Model.Count == 0) // Show message if no pages
{
    <p>No pages have been created. <a href="/Page/New">Create a new page?</a></p>
}
else // Show Page List Table
{
    <div id="alertMsgs"></div>
    <table class="table" id="pageListTable">
        <thead>
            <tr>
                <th>Page ID</th>
                <th>Page Section</th>
                <th>Page Name</th>
                <th>Last Updated</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model)
            {
                <tr>
                    <td>@page.Id</td>
                    <td>@page.Section</td>
                    <td>@page.Name</td>
                    <td>@page.Updated.ToString("yyyy/M/dd hh:mm")</td>
                    <td><a href="/@page.Section/@page.Name" target="_blank">View</a></td>
                    <td><a href="/CMS/Page/Edit/@page.Section/@page.Name">Edit</a></td>
                        <td><a href="#"
                               data-pageid="@page.Id"
                               data-pagename="@page.Name"
                               data-pagesection="@page.Section"
                               class="copy-page">
                            Copy
                            </a></td>
                    <td><a href="#"
                           data-pageid="@page.Id"
                           data-pagename="@page.Name"
                           data-pagesection="@page.Section"
                           class="delete-page">
                        Delete
                    </a></td>
                </tr>
            }
        </tbody>
    </table>
}

    @Html.Partial("_ConfiromDeleteModal")

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/dt-1.10.12/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/page.js"></script>
    <script type="text/javascript">
        "use strict";
        var page = new Page();
        var deleteModalVue = new Vue({
            data: {
                type: "page",
                modalHeader: "Delete Page?",
                name: ""
            }
        });
        $(function () {
            $("#pageListTable").DataTable({
                "order": [[3, "desc"]]
            });
            sessionStorage.clear();
            $("body").on("click", "#confirmDelete", function () {
                var sessionKey = $(this).attr("data-sessionkey");;
                confirmDelete(sessionKey);
            });
            $("a.copy-page").click(function (e) {
                e.preventDefault();
                var pageItem = {
                    pageId: $(this).attr("data-pageid"),
                    pageName: $(this).attr("data-pagename"),
                    pageSection: $(this).attr("data-pagesection")
                };
                copyPage(pageItem.pageId, pageItem.pageSection, pageItem.pageName);
            })
            $("a.delete-page").click(function (e) {
                e.preventDefault();
                var pageItem = {
                    pageId: $(this).attr("data-pageid"),
                    pageName: $(this).attr("data-pagename"),
                    pageSection: $(this).attr("data-pagesection")
                };
                var sessionKey = "page-" + pageItem.pageId;
                $("#confirmDeletePage").attr("data-sessionkey", sessionKey);
                sessionStorage.setItem(sessionKey, JSON.stringify(pageItem));
                // set tokens in vue modal and show it
                deleteModalVue.name = " /" + pageItem.pageSection + "/" + pageItem.pageName
                deleteModalVue.$mount("#deleteModal");
                Vue.nextTick(function () {
                    $("#deleteModal").modal("show");
                });
            });
        }); // end document ready function
        // called on confirmation of delete modal
        function confirmDelete(sessionKey) {
            if (sessionKey != null) {
                var storedPage = null;
                try {
                    storedPage = JSON.parse(sessionStorage.getItem(sessionKey));
                }
                catch (ex) {
                    console.log(ex);
                }
                if (storedPage != null && storedPage.hasOwnProperty(pageId)) {
                    var deleteResult = page.delete(storedPage.pageId, storedPage.pageSection, storedPage.pageName, "#alertMsgs");
                    var deleteStatus = deleteResult != null ? deleteResult.responseJSON.Status : false;
                    if (deleteStatus) {
                        $("a[data-pageid=\"" + storedPage.pageId + "\"]").parent().parent().remove(); // remove deleted row
                    } // end if deleteStatus true
                }
                sessionStorage.removeItem(sessionKey);
            } // end if pageName != null
            $("#deletePage").modal("hide");
        }
        // called by "a.copy-page" click event 
        function copyPage(id, section, name) {
            var copiedPageId; 
            if (id > 0 && section != null && section.length > 0) {
                var newPageId = page.copy(id, section, name, "#alertMsgs");
                if (newPageId > 0) {
                    var dataTable = $("#pageListTable").DataTable();
                    dataTable.row.add([
                                        newPageId,
                                        section,
                                        name,
                                        _default.dateTime(),
                                        "<a href=\"/" + section + "/" + name + "\">View</a>",
                                        "<a href=\"/CMS/Edit/" + section + "/" + name + "\">Edit</a>",
                                        "<a href=\"#\"" +
                                        "data-pageid=\"" + newPageId + "\"" +
                                        "data-pagename=\"" + name + "\"" +
                                        "data-pagesection=\"" + section + "\"" +
                                        "class=\"copy-page\">" +
                                        "Copy</a>",
                                        "<a href=\"#\"" +
                                        "data-pageid=\"" + newPageId + "\"" +
                                        "data-pagename=\"" + name + "\"" +
                                        "data-pagesection=\"" + section + "\"" +
                                        "class=\"delete-page\">" +
                                        "Delete</a>"
                    ]).draw();
                    dataTable.column(3).data().sort();
                } // end if copiedPageId > 0 
            } // end if if and section are set 

            return copiedPageId;
        }
    </script>
}