@model List<RazorEngineCms.Models.Page>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <script type="text/javascript" src="~/Scripts/vendor/require.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/v/bs-3.3.6/dt-1.10.12/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
}

<h2>Pages</h2>


@if (Model.Count == 0) // Show message if no pages
{
    <p>No pages have been created. <a href="/Page/New">Create a new page?</a></p>
}
else // Show Page List Table
{
    <div id="alertMsgs"></div>
    <table class="table" id="pageListTable" style="display:none">
        <thead>
            <tr>
                <th>Page ID</th>
                <th>Page Section</th>
                <th>Page Name</th>
                <th>Last Updated</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model)
            {
                <tr>
                    <td>@page.Id</td>
                    <td>@page.Section</td>
                    <td>@page.Name</td>
                    <td>@page.Updated.ToString("yyyy/M/dd hh:mm")</td>
                    <td><a href="/@page.Section/@page.Name" target="_blank">View</a></td>
                    <td><a href="/CMS/Page/Edit/@page.Section/@page.Name">Edit</a></td>
                        <td><a href="#"
                               data-pageid="@page.Id"
                               data-pagename="@page.Name"
                               data-pagesection="@page.Section"
                               class="copy-page">
                            Copy
                            </a></td>
                    <td><a href="#"
                           data-pageid="@page.Id"
                           data-pagename="@page.Name"
                           data-pagesection="@page.Section"
                           class="delete-page">
                        Delete
                    </a></td>
                </tr>
            }
        </tbody>
    </table>
}

@Html.Partial("_ConfiromDeleteModal")
@section Scripts {

<script type="text/javascript" src="~/Scripts/views/ListPages.js"></script>
}