@model RazorEngineCms.Models.PageList

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/dt-1.10.12/datatables.min.css" />
}

<h2>Pages</h2>


@if (Model.Count == 0) // Show message if no pages
{
    <p>No pages have been created. <a href="/Page/New">Create a new page?</a></p>
}
else // Show Page List Table
{
    <div id="alertMsgs"></div>
    <table class="table" id="pageListTable">
        <thead>
            <tr>
                <th>Page ID</th>
                <th>Page Section</th>
                <th>Page Name</th>
                <th>Last Updated</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var page in Model)
            {
                <tr>
                    <td>@page.Id</td>
                    <td>@page.Section</td>
                    <td>@page.Name</td>
                    <td>@page.Updated.ToString("yyyy/M/dd hh:mm")</td>
                    <td><a href="/@page.Section/@page.Name" target="_blank">View</a></td>
                    <td><a href="/CMS/Page/Edit/@page.Section/@page.Name">Edit</a></td>
                    <td><a href="#"
                           data-pageid="@page.Id"
                           data-pagename="@page.Name"
                           data-pagesection="@page.Section"
                           class="delete-page">
                        Delete
                    </a></td>

                </tr>
            }
        </tbody>
    </table>
}

    @Html.Partial("_ConfiromDeleteModal")

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/dt-1.10.12/datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/page.js"></script>
    <script type="text/javascript">
        "use strict";
        var page = new Page();
        // called on confirmation of delete modal
        // deletes a page using POST: /Page/Delete/{name}/{section}
        function confirmDelete(sessionKey) {
            if (sessionKey != null) {
                var storedPage = JSON.parse(sessionStorage.getItem(sessionKey));
                var deleteStatus = page.delete(storedPage.pageId, storedPage.pageName, storedPage.pageSection, "#alertMsgs");
                if (deleteStatus) {
                    $("a[data-pagename=\"" + storedPage.pageName + "\"][data-pagesection=\"" + storedPage.pageSection + "\"]")
                        .parent().parent().remove(); // remove deleted row
                } // end if deleteStatus true
                sessionStorage.removeItem(sessionKey);
            } // end if pageName != null
            $("#deletePageModal").modal("hide");
        }
        $(function () {
            $("#pageListTable").DataTable({
                "order" : [[3, "desc"]]
            });
            sessionStorage.clear();
            $("#confirmDeletePage").click(function () {
                var sessionKey = $(this).attr("data-sessionkey");;
                confirmDelete(sessionKey);
            });
            $("a.delete-page").click(function(e) {
                e.preventDefault();
                var pageItem = {
                    pageId: $(this).attr("data-pageid"),
                    pageName : $(this).attr("data-pagename"),
                    pageSection : $(this).attr("data-pagesection")
                };
                var sessionKey = "page-" + pageItem.pageId;
                $("#deletePageName").text(sessionKey);
                $("#confirmDeletePage").attr("data-sessionkey", sessionKey);
                sessionStorage.setItem(sessionKey, JSON.stringify(pageItem));
                $("#deletePageModal").modal("show");
            });
        }); // end document ready function
    </script>
}